$!court详情
  <table class="table">
                <tr>
              <td>id</td>
              <td>
                  $!courtDO.id
              </td>
          </tr>

                <tr>
              <td>name</td>
              <td>
                  $!courtDO.name
              </td>
          </tr>

                <tr>
              <td>address</td>
              <td>
                  $!courtDO.address
              </td>
          </tr>

                <tr>
              <td>type</td>
              <td>
                  $!courtDO.type
              </td>
          </tr>

                <tr>
              <td>openTime</td>
              <td>
                  $!courtDO.openTime
              </td>
          </tr>

                <tr>
              <td>square</td>
              <td>
                  $!courtDO.square
              </td>
          </tr>

                <tr>
              <td>userId</td>
              <td>
                  $!courtDO.userId
              </td>
          </tr>

                <tr>
              <td>isDeleted</td>
              <td>
                  $!courtDO.isDeleted
              </td>
          </tr>

                <tr>
              <td>status</td>
              <td>
                  $!courtDO.status
              </td>
          </tr>

                <tr>
              <td>desc</td>
              <td>
                  $!courtDO.desc
              </td>
          </tr>

                <tr>
              <td>gmtModify</td>
              <td>
                  $!courtDO.gmtModify
              </td>
          </tr>

                <tr>
              <td>gmtCreate</td>
              <td>
                  $!courtDO.gmtCreate
              </td>
          </tr>

        </table>
