新增

<form name="teamRecruitForm" action="$!homeServer.getURI("teamRecruit/doCreate.htm")" method="post">
  <table>
    #springBind("teamRecruitForm.id")
    <tr>
        <td>id</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("teamRecruitForm.userId")
    <tr>
        <td>userId</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("teamRecruitForm.desc")
    <tr>
        <td>desc</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("teamRecruitForm.isDeleted")
    <tr>
        <td>isDeleted</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("teamRecruitForm.gmtModify")
    <tr>
        <td>gmtModify</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("teamRecruitForm.gmtCreate")
    <tr>
        <td>gmtCreate</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>

	  <tr>
	  <td colspan="2">
	  <input type="submit" class="btn" value="提交"/></td>
	  </tr>
  </table>
</form>