<a  class="btn btn-default"  href="$!homeServer.getURI("teamRecruit/create.htm")" >新建</a>

<table  class="table">
 <tr>
              id
              userId
              desc
              isDeleted
              gmtModify
              gmtCreate
          <td>操作</td>
 </tr>
#foreach($f in $teamRecruitDOList)
  <tr>
               <td> $!f.id</td>
               <td> $!f.userId</td>
               <td> $!f.desc</td>
               <td> $!f.isDeleted</td>
               <td> $!f.gmtModify</td>
               <td> $!f.gmtCreate</td>
          <td><a href="$!homeServer.getURI("teamRecruit/edit.htm").addQueryData('id',"$!f.id")" >编辑</a></td>
    <td><a href="$!homeServer.getURI("teamRecruit/detail.htm").addQueryData('id',"$!f.id")" >查看详情</a></td>
      <td><a href="$!homeServer.getURI("teamRecruit/doDelete.htm").addQueryData('id',"$!f.id")" onclick="return confirm('确定删除吗?')">删除</a></td>
 </tr>
#end
</table>