编辑

<form name="userInfoEditForm" action="$!homeServer.getURI("userInfo/doUpdate.htm")" method="post">
  <table>
  #springBind("userInfoEditForm.id")
  <input type="hidden" name="${status.expression}" value="$!status.value" />
                #springBind("userInfoEditForm.id")
          <tr>
              <td>id</td>
              <td>
                  <input type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
                #springBind("userInfoEditForm.userName")
          <tr>
              <td>userName</td>
              <td>
                  <input type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
                #springBind("userInfoEditForm.password")
          <tr>
              <td>password</td>
              <td>
                  <input type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
                #springBind("userInfoEditForm.phone")
          <tr>
              <td>phone</td>
              <td>
                  <input type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
                #springBind("userInfoEditForm.groundTypeOfEnjoy")
          <tr>
              <td>groundTypeOfEnjoy</td>
              <td>
                  <input type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
                #springBind("userInfoEditForm.special")
          <tr>
              <td>special</td>
              <td>
                  <input type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
                #springBind("userInfoEditForm.groundOfDaily")
          <tr>
              <td>groundOfDaily</td>
              <td>
                  <input type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
                #springBind("userInfoEditForm.status")
          <tr>
              <td>status</td>
              <td>
                  <input type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
                #springBind("userInfoEditForm.img")
          <tr>
              <td>img</td>
              <td>
                  <input type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
                #springBind("userInfoEditForm.gmtModify")
          <tr>
              <td>gmtModify</td>
              <td>
                  <input type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
                #springBind("userInfoEditForm.gmtCreate")
          <tr>
              <td>gmtCreate</td>
              <td>
                  <input type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
      	  <tr>
	  <td colspan="2">
	  <input type="submit" value="提交"/></td>
	  </tr>
  </table>
</form>